<div id="profile-page-sidebar" class="col s12 m4">
  <!-- Profile About  -->
  <div class="card cyan">
    <div class="card-content white-text">
      <span class="card-title">About Me!</span>
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
  <!-- Profile About  -->
  <!-- Profile About Details  -->
  <ul id="profile-page-about-details" class="collection z-depth-1">
    <li class="collection-item">
      <div class="row">
        <div class="col s5">
          <i class="material-icons left">card_travel</i> Project</div>
        <div class="col s7 right-align">ABC Name</div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row">
        <div class="col s5">
          <i class="material-icons left">poll</i> Skills</div>
        <div class="col s7 right-align">HTML, CSS</div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row">
        <div class="col s5">
          <i class="material-icons left">domain</i> Lives in</div>
        <div class="col s7 right-align">NY, USA</div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row">
        <div class="col s5">
          <i class="material-icons left">cake</i> Birth date</div>
        <div class="col s7 right-align">18th June, 1991</div>
      </div>
    </li>
  </ul>
  <!--/ Profile About Details  -->
  <!-- Profile About  -->
  <div class="card red accent-2">
    <div class="card-content white-text center-align">
      <p class="card-title">
        <i class="material-icons">group_add</i> 3685</p>
      <p>Followers</p>
    </div>
  </div>
  <!-- Profile About  -->
  <!-- Profile feed  -->
