
<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">

      <!--      Wizard container        -->
      <div class="wizard-container">

        <div class="card wizard-card" data-color="green" id="wizardProfile">
          <form action="" method="">

            <div class="wizard-header">
              <h3>
                <b>BUILD</b> YOUR PROFILE <br>
                <small>This information will let us know more about you.</small>
              </h3>
            </div>

            <div class="tab-content">
              <div class="tab-pane" id="about">
                <div class="row">
                  <h4 class="info-text"> Let's start with the basic information (with validation)</h4>
                  <div class="col s4 offset-s1">
                    <div class="picture-container">
                      <div class="file-field input-field">
                        <img src="assets/default-avatar.png" class="picture-src"  id="wizardPicturePreview" title=""/>
                        <input type="file"  class="file-path validate" id="wizard-picture">
                      </div>
                      <h6>Choose Picture</h6>
                    </div>
                  </div>
                  <div class="col s6">
                    <div class="form-group">
                      <label>First Name <small>(required)</small></label>
                      <input  name="firstName" type="text"  #firstname="ngModel" class="form-control" [(ngModel)]="userInfo.firstName" placeholder="Andrew...">
                    </div>
                    <div class="form-group">
                      <label>Last Name <small>(required)</small></label>
                      <input name="lastName" type="text" class="form-control" [(ngModel)]="userInfo.lastName" placeholder="Smith...">
                    </div>
                  </div>
                  <div class="col s10 offset-s1">
                    <div class="form-group">
                      <label>Email <small>(required)</small></label>
                      <input type="email" [(ngModel)]="userInfo.email" class="form-control" name="email"  email
                             required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$" placeholder="andrew@creative-tim.com"/>
                    </div>
                  </div>
                  <div class="col s7 offset-s1">
                    <div class="form-group">
                      <label>Street Name</label>
                      <input type="text" name="streetName" class="form-control" [(ngModel)]="userInfo.streetName" placeholder="5h Avenue">
                    </div>
                  </div>
                  <div class="col s3">
                    <div class="form-group">
                      <label>Street Number</label>
                      <input type="text" name="streetNumber" class="form-control" [(ngModel)]="userInfo.streetNumber" placeholder="242">
                    </div>
                  </div>
                  <div class="col s5 offset-s1">
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" name="city" class="form-control" [(ngModel)]="userInfo.city" placeholder="New York...">
                    </div>
                  </div>
                  <div class="col s5">
                    <div class="form-group">
                      <label>Country</label><br>
                      <input type="text" name="country" class="form-control" [(ngModel)]="userInfo.country" placeholder="Spain...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wizard-footer height-wizard">
              <div class="pull-right">
                <input type='button' (click)="processCreate()" class='btn btn-finish btn-fill btn-success btn-wd btn-sm' name='finish' value='Finish' />
              </div>
              <div class="clearfix"></div>
            </div>

          </form>
        </div>
      </div> <!-- wizard container -->
    </div>
  </div><!-- end row -->
</div>
