<section id="splash-blue" class="z-depth-1">
  <div class="particles-js" >
  <particles [style]="style" [width]="width" [height]="height" [params]="myParams"></particles>
  </div>
  <div class="container">
    <!-- Tablet and desktop -->
    <div class="row hide-on-small-only hero-home">
      <div class="col m10 offset-m1 s12 l10 offset-l1">
        <h1 class="white-text main-title">Create your own message</h1>
        <h5 class="white-text sub-title">Digitize operations. Eliminate manual work. Move faster.</h5>

        <div class="row hide-on-1200-and-down" style="margin-top: 50px;">
          <div class="col offset-m1 m3 input-field">
            <input type="text" placeholder="Email" class="email-input-field" data-selector="email-signup">
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
<message></message>
