<div id="profile-page-wall-share" class="row">
  <div class="col s12">
    <ul class="tabs tab-profile z-depth-1 deep-orange accent-2">
      <li class="tab col s3">
        <a class="white-text waves-effect waves-light active" href="#UpdateStatus">
          <i class="material-icons">border_color</i> Update Status</a>
      </li>
      <li class="tab col s3">
        <a class="white-text waves-effect waves-light" href="#AddPhotos">
          <i class="material-icons">camera_alt</i> Add Photos</a>
      </li>
      <li class="tab col s3">
        <a class="white-text waves-effect waves-light" href="#CreateAlbum">
          <i class="material-icons">photo_album</i> Create Album</a>
      </li>
      <li class="indicator" style="right: 384px; left: 0px;"></li></ul>
    <!-- UpdateStatus-->
    <div id="UpdateStatus" class="tab-content col s12 grey lighten-4 active">
      <div class="row">
        <div class="col s2">
          <img src="https://i.pinimg.com/236x/0d/24/a6/0d24a6b5be791e8ba6f13ab614a7fac5.jpg"
               alt="" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan">
        </div>
        <div class="input-field col s10">
          <textarea id="textarea1" row="2" class="materialize-textarea"></textarea>
          <label for="textarea1" class="">What's on your mind?</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4 share-icons">
          <a href="#">
            <i class="material-icons grey-text text-darken-1">camera_alt</i>
          </a>
          <a href="#">
            <i class="material-icons grey-text text-darken-1">account_circle</i>
          </a>
          <a href="#">
            <i class="material-icons grey-text text-darken-1">keyboard</i>
          </a><a href="#">
          <i class="material-icons grey-text text-darken-1">location_on</i>
        </a></div><a href="#">
      </a><div class="col s12 m8 l8 right-align"><a href="#">
        <!-- Dropdown Trigger -->
      </a><a class="dropdown-button btn" href="#" data-activates="profliePost">
        <i class="material-icons left">language</i> Public</a><ul id="profliePost" class="dropdown-content">
        <li>
          <a href="#!">
            <i class="material-icons">language</i> Public</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">face</i> Friends</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">lock_outline</i> Only Me</a>
        </li>
      </ul>
        <!-- Dropdown Structure -->

        <a class="waves-effect waves-light btn">
          <i class="material-icons left">rate_review</i> Post</a>
      </div>
      </div>
    </div>
    <!-- AddPhotos -->
    <div id="AddPhotos" class="tab-content col s12  grey lighten-4" style="display: none;">
      <div class="row">
        <div class="col s2">
          <img src="https://i.pinimg.com/236x/0d/24/a6/0d24a6b5be791e8ba6f13ab614a7fac5.jpg"
               alt="" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan">
        </div>
        <div class="input-field col s10">
          <textarea id="textarea2" row="2" class="materialize-textarea"></textarea>
          <label for="textarea2" class="">Share your favorites photos!</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4 share-icons">
          <a href="#">
            <i class="material-icons grey-text text-darken-1">camera_alt</i>
          </a>
          <a href="#">
            <i class="material-icons grey-text text-darken-1">account_circle</i>
          </a>
          <a href="#">
            <i class="material-icons grey-text text-darken-1">keyboard</i>
          </a><a href="#">
          <i class="material-icons grey-text text-darken-1">location_on</i>
        </a></div><a href="#">
      </a><div class="col s12 m8 l8 right-align"><a href="#">
        <!-- Dropdown Trigger -->
      </a><a class="dropdown-button btn" href="#" data-activates="profliePost2">
        <i class="material-icons">language</i> Public</a><ul id="profliePost2" class="dropdown-content">
        <li>
          <a href="#!">
            <i class="material-icons">language</i> Public</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">face</i> Friends</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">lock_outline</i> Only Me</a>
        </li>
      </ul>
        <!-- Dropdown Structure -->

        <a class="waves-effect waves-light btn">
          <i class="material-icons left">rate_review</i> Post</a>
      </div>
      </div>
    </div>
    <!-- CreateAlbum -->
    <div id="CreateAlbum" class="tab-content col s12  grey lighten-4" style="display: none;">
      <div class="row">
        <div class="col s2">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELZDRieMM5rgeBIzfXp11IrSpT2tbf6Qv1nCVALnaOvc-vYc" alt="" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan">
        </div>
        <div class="input-field col s10">
          <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
          <label for="textarea" class="">Create awesome album.</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4 share-icons">
          <a href="#">
            <i class="material-icons grey-text text-darken-1">camera_alt</i>
          </a>
          <a href="#">
            <i class="material-icons grey-text text-darken-1">account_circle</i>
          </a>
          <a href="#">
            <i class="material-icons grey-text text-darken-1">keyboard</i>
          </a><a href="#">
          <i class="material-icons grey-text text-darken-1">location_on</i>
        </a></div><a href="#">
      </a><div class="col s12 m8 l8 right-align"><a href="#">
        <!-- Dropdown Trigger -->
      </a><a class="dropdown-button btn" href="#" data-activates="profliePost3">
        <i class="material-icons">language</i> Public</a><ul id="profliePost3" class="dropdown-content">
        <li>
          <a href="#!">
            <i class="material-icons">language</i> Public</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">face</i> Friends</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">lock_outline</i> Only Me</a>
        </li>
      </ul>
        <!-- Dropdown Structure -->

        <a class="waves-effect waves-light btn">
          <i class="material-icons left">rate_review</i> Post</a>
      </div>
      </div>
    </div>
  </div>
</div>
