.footer {
  position: relative;
  margin-bottom: 0;
  .container-fluid{
    background-color: #343a40;
    height: 50px;
  }
  .text {
    position: relative;
    left: 40%;
    top: 40%;
    color: #56a758;
  }
}



