  <div class="section">
    <div id="blog-post-full">
      <!-- medium size post-->
      <div class="card large">
        <div class="card-image">
          <img src="https://pixinvent.com/materialize-material-design-admin-template/images/gallary/33.png" alt="sample">
          <span class="card-title">Strawberries on the Table</span>
          <span class="card-title blog-post-full-cat right-align">
            <a href="#!">
              <span class="new badge red accent-2" data-badge-caption="UI/UX"></span>
              <span class="new badge cyan m-0" data-badge-caption="Web Design"></span>
            </a>
          </span>
        </div>
        <div class="card-content">
          <p class="ultra-small">June 30, 2107</p>
          <p>I am a very simple full width blog post. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <div class="chip">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELZDRieMM5rgeBIzfXp11IrSpT2tbf6Qv1nCVALnaOvc-vYc"
                 alt="Contact Person" class="cyan"> <a href="#!">Jane Doe</a>
          </div>
          <a href="#!" class="waves-effect waves-teal btn-flat right m-0 p-0">Read more <i class="material-icons right">arrow_forward</i></a>
        </div>
      </div>
      <!-- video post -->
      <div class="card">
        <div class="card-image">
          <div class="video-container no-controls">
            <iframe width="640" height="260" src="https://www.youtube.com/embed/Skpu5HaVkOc" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <span class="card-title">I have video post too!</span>
          <span class="card-title blog-post-full-cat right-align">
            <a href="#!">
              <span class="new badge teal accent-4 m-0" data-badge-caption="Video"></span>
            </a>
          </span>
        </div>
        <div class="card-content">
          <p class="ultra-small">June 30, 2107</p>
          <p>I am a very simple full width blog post. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <div class="chip">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELZDRieMM5rgeBIzfXp11IrSpT2tbf6Qv1nCVALnaOvc-vYc"
                 alt="Contact Person" class="cyan"> <a href="#!">Jane Doe</a>
          </div>
          <a href="#!" class="waves-effect waves-teal btn-flat right m-0 p-0">Read more <i class="material-icons right">arrow_forward</i></a>
        </div>
      </div>
      <!-- medium size post-->
      <div class="card medium">
        <div class="card-image">
          <img src="https://pixinvent.com/materialize-material-design-admin-template/images/gallary/32.png"
               alt="sample">
          <span class="card-title">What is on the Table?</span>
          <span class="card-title blog-post-full-cat right-align">
            <a href="#!">
              <span class="new badge deep-orange accent-2 m-0" data-badge-caption="HTML"></span>
            </a>
          </span>
        </div>
        <div class="card-content">
          <p class="ultra-small">June 30, 2107</p>
          <p>I am a very simple full width blog post. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <div class="chip">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELZDRieMM5rgeBIzfXp11IrSpT2tbf6Qv1nCVALnaOvc-vYc"
             alt="Contact Person" class="cyan"> <a href="#!">Jane Doe</a>
          </div>
          <a href="#!" class="waves-effect waves-teal btn-flat right m-0 p-0">Read more <i class="material-icons right">arrow_forward</i></a>
        </div>
      </div>
      <!-- large size post-->
      <div class="card large">
        <div class="card-image">
          <img src="https://pixinvent.com/materialize-material-design-admin-template/images/gallary/28.png" alt="sample">
          <span class="card-title">Large post style</span>
          <span class="card-title blog-post-full-cat right-align">
            <a href="#!">
              <span class="new badge cyan m-0" data-badge-caption="Materilize"></span>
            </a>
          </span>
        </div>
        <div class="card-content">
          <p class="ultra-small">June 30, 2107</p>
          <p>I am a very simple full width blog post. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <div class="chip">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELZDRieMM5rgeBIzfXp11IrSpT2tbf6Qv1nCVALnaOvc-vYc"
                 alt="Contact Person" class="cyan"> <a href="#!">Jane Doe</a>
          </div>
          <a href="#!" class="waves-effect waves-teal btn-flat right m-0 p-0">Read more <i class="material-icons right">arrow_forward</i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- pagination-->
  <div class="section">
    <div class="row">
      <ul class="col s9 offset-s3 pagination">
        <li class="disabled">
          <a href="#!">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect">
          <a href="#!">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Floating Action Button -->
  <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="material-icons">add</i>
    </a>
    <ul>
      <li>
        <a href="css-helpers.html" class="btn-floating blue">
          <i class="material-icons">help_outline</i>
        </a>
      </li>
      <li>
        <a href="cards-extended.html" class="btn-floating green">
          <i class="material-icons">widgets</i>
        </a>
      </li>
      <li>
        <a href="app-calendar.html" class="btn-floating amber">
          <i class="material-icons">today</i>
        </a>
      </li>
      <li>
        <a href="app-email.html" class="btn-floating red">
          <i class="material-icons">mail_outline</i>
        </a>
      </li>
    </ul>
  </div>
  <!-- Floating Action Button -->
