<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav">
      <!--<sideComponent></sideComponent>-->
      <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </aside>
    <!-- END LEFT SIDEBAR NAV-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START CONTENT -->
    <section id="content">
      <!--start container-->
      <div class="container">
        <div id="profile-page" class="section">
          <!-- profile-page-header -->
          <pageHeader></pageHeader>
          <!--/ profile-page-header -->
          <!-- profile-page-content -->
          <div id="profile-page-content" class="row">
            <!-- profile-page-sidebar-->
            <pageSidebar></pageSidebar>
            <!-- profile-page-sidebar-->
            <!-- profile-page-wall -->
            <div id="profile-page-wall" class="col s12 m8">
              <!-- profile-page-wall-share -->
                <pageShare></pageShare>
              <!--/ profile-page-wall-share -->
              <!-- profile-page-wall-posts -->
              <div id="profile-page-wall-posts" class="row">
                <div class="col s12">
                  <pageWallPost></pageWallPost>
                </div>
              </div>
            </div>
              <!--/ profile-page-wall-posts -->
          </div>
            <!--/ profile-page-wall -->
          </div>
        </div>
    </section>
  </div>
  <!--end container-->

  <!-- END CONTENT -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->
</div>
