<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand img">
        <img [src]="'/assets/logofabul.png'" width="350" height="48" alt="">
      </a>
    </div>
    <div class="buttons">
      <button routerLink="/auth"  type="button"  class="waves-effect waves-light btn light-green darken-3">Sign In</button>
      <button routerLink="/signup" type="button" class="waves-effect waves-light btn red darken-3">Sign Up</button>
    </div>
  </div>
</nav>
