.buttons {
  position: absolute;
  right: 15px;
  top: 10px;
}

.btn-success {
  position: absolute;
  right: 115px;
  width: 100px;
  height: 30px !important;
}

.btn-danger {
  height: 30px !important;
  width: 100px;
}

nav {
  background-color: #343a40 !important;
  position: relative;
}

.navbar-inverse {
  border-color: #343a40;
}

.btn {
  padding: 1px 12px;
}

.img {
  padding: 2px 15px;
}

.navbar-brand {
  color: #56a758;
}
