
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRW9dKzcbl7-ba4NqIliWrUCgbuBuebXvfEvJHLucujeu9WG8z">
      </div>
      <div>
        <div><img class="circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELZDRieMM5rgeBIzfXp11IrSpT2tbf6Qv1nCVALnaOvc-vYc"></div>
      </div>
      <div>
        <span class="white-text name">John Doe</span>
      </div>
      <div>
        <span class="white-text email">jdandturk@gmail.com</span>
      </div>
    </div>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">cloud</i>First Link With Icon</a>
  </li>
  <li>
    <a href="#!">Second Link</a>
  </li>
  <li>
    <a class="waves-effect" href="#!">Third Link With Waves</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">John Doe</a>
  </li>
  <li>
    <div id="profile-card" class="card" style="overflow: hidden;">
      <div class="card-content">
        <a class="btn-floating activator btn-move-up waves-effect waves-light green darken-3 right">
          <i class="material-icons small">edit</i>
        </a>
        <p>
          <i class="material-icons">perm_identity</i> Project Manager
        </p>
        <p>
          <i class="material-icons">perm_phone_msg</i> +1 (612) 222
        </p>
        <p>
          <i class="material-icons">email</i> yourmail@domain.com</p>
      </div>
      <div class="card-reveal" style="display: none; transform: translateY(0px);">
        <span class="card-title grey-text text-darken-4">Roger Waters
          <i class="material-icons right">close</i>
        </span>
        <p>Here is some more information about you.</p>
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="icon_prefix2" placeholder="Project Manager" type="text" class="validate">
          <label for="icon_prefix2">Profession</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_phone_msg</i>
          <input id="icon_prefix3" placeholder="+1 (612) 222 8989" type="text" class="validate">
          <label for="icon_prefix3">Phone number</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix4" placeholder="yourmail@domain.com" type="text" class="validate">
          <label for="icon_prefix4">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">cake</i>
          <input id="icon_prefix5" placeholder="18th June 1990" type="text" class="validate">
          <label for="icon_prefix5">Birthday</label>
        </div>
        <p>
        </p>
        <p>
          <i class="material-icons">airplanemode_active</i> BAR - AUS
        </p>
        <p>
          <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </p>
      </div>
    </div>
  </li>
</ul>


