<div class="form-group">
    <label>Input your message</label>
    <input type="text" [(ngModel)]="message"/>
</div>
<button type="button" (click)="addMessage()" class="btn btn-primary">Add message</button>
<div *ngFor="let myMessage of messages">
  <div class="checkbox">
    <div class="alert alert-info" role="checkbox">
        <div id="close"><span class="glyphicon glyphicon-remove-sign"></span></div>
        <div id="messagetext">
          <span>{{myMessage.text}}</span>
        </div>
        <div class="buttons-sections">
          <button (click)="Like(myMessage)">  <span [ngClass]="(myMessage.Islike==true)?'setColor1': 'setColor2'" class="glyphicon glyphicon-thumbs-up"> </span>{{myMessage.likes}}</button>
          <button  (click)="disLike(myMessage)"> <span [ngClass]="(myMessage.Dislike==true)?'setColor3': 'setColor2'" class="glyphicon glyphicon-thumbs-down"> </span>{{myMessage.dislikes}}</button>
        </div>
    </div>
  </div>
</div>
