.alert {
  margin: 20px;
  padding: 2px;
}
.alert-info {
  color: #31708f;
  background-color: #f1f1f1;
  border-color: #2839f9;
}
div#close{
  float: right
}
div#messagetext{
  background-color: #fff;
  margin: 20px 5px 5px 5px;
}
.setColor1{
  color: green;
}
.setColor2{
  color:#7f8c8d;
  opacity:0.7;
}
.setColor3{
  color:red;
}
